body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-homenaje: Homenaje;
  --font-inter: Inter;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-45xl: 64px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-black: #000;
  --color-maroon-100: #800000;
  --color-midnightblue: #2f1063;

  /* Border radiuses */
  --br-11xl: 30px;
}
