body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-jockey-one: "Jockey One";
  --font-homenaje: Homenaje;

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-41xl: 60px;
  --font-size-31xl: 50px;
  --font-size-51xl: 70px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;

  /* Border radiuses */
  --br-181xl: 200px;
  --br-131xl: 150px;
  --br-81xl: 100px;
}
